html {
    background-color: #a3c1ad;
    background-color: rgb(163,193,173);
}

body {
    color: #333333;
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    width: 40em;
    min-height: 30em;
    background-color: #a3c1ad;
    padding: 1em;
}

#sivu1 {
    visibility: visible;
    height: auto;
}

#sivu2 {
    visibility: hidden;
    height: 0;
}

#nav ul {
    list-style-type:none;
    width: 100%;
    line-height: 20px;
}

#nav li {
    display: inline;
}

#nav a {
    font-family: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26px;
    padding: 6px 20px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    background-color: #000000;
    color: #FFF;
    width: 86px;
}

#nav a:hover {
    background-color: #49796b;
}

h1 {
    font-family: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
    font-size: 26px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26px;
}
h2 {
    font-family: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 22px;
}
p {
    font-family: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}
table {
    border-collapse: collapse;
    width: 500px;
    border: 1px solid black;
    font-family: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 20px;
    cursor:pointer;
}

button:hover {
    background-color: #49796b;
}

input[type=text] {
    width: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 20px;
}

input[type=text]:focus {
    border: 3px solid #555;
}

input[type=submit]:hover {
    background-color: #49796b;
}

input[type=submit] {
    background-color: #000000;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 20px;
    cursor:pointer;
}