<html ng-app="nameApp">
  <head>
    <meta charset="utf-8">
    <title>Tatun Angular!!!</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
    <script>
      var nameApp = angular.module('nameApp', []);
      nameApp.controller('NameCtrl', function ($scope){
        $scope.names = ['Tom', 'Dick', 'Harry'];

        $scope.addName = function() {
          $scope.names.push($scope.enteredName);
          $scope.enteredName = '';
        };

        $scope.removeName = function(name) {
          var i = $scope.names.indexOf(name);
          $scope.names.splice(i, 1);
        };
      });
    </script>
  </head>
  <body ng-controller="NameCtrl">
    Every:
   
      <table>
  <tr ng-repeat="name in names">
    <td>{{name}}</td>
    <td>
        <button ng-click="removeName(name)">
            Poista
          </button>
    </td>
  </tr>
</table>
    
    <form ng-submit="addName()">
      <input type="text" ng-model="enteredName">
      <input type="submit" value="lisää">
    </form>
  </body>
</html>
