<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>Angular Way!!!</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
    <script>
      var nameApp = angular.module('nameApp', []);
      nameApp.controller('NameCtrl', function ($scope){
        $scope.firstName = 'etunimi';
        $scope.$watch('lastName', function(newValue, oldValue){
          console.log('Uusi arvo on: ' + newValue);
        });

        setTimeout(function(){
          $scope.lastName = 'sukunimi';
        }, 1000);
      });
    </script>
  </head>
  <body ng-controller="NameCtrl">
    Etunimi:<input ng-model="firstName" type="text"/>
    <br><br>
    Sukunimi:<input ng-model="lastName" type="text"/>
    <br><br>
    Koodari:<input ng-model="name" type="text"/>
    <br><br>
    Hei {{firstName}} {{lastName}}!
    <br><br>
    ...ja koodari-{{name}} lähettää terkkuja!
  </body>
</html>
