body {
	background: #a3c1ad;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 26px;
	font-weight: 500;
}
h2, h3, h4 {
	font-weight: 500;
}
.jumbotron {
	color: #202020;
}
.jumbotron p,
.container p {
	font-size: 20px;
	
}
body > .container-fluid {
	padding: 0px;
}
.jumbotron {
	background: #FFFFFF;
}
.col-sm-4 > img {
	width: 100%;	
}
.col-sm-3 > img {
	width: 100%;	
}


/* Carousel */
.carousel {
	background: #a3c1ad;
}
.carousel-inner > .item > img {
	margin: 0 auto;
}
.carousel-caption {
	background: #49796b;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 16px;
	max-width: 550px;
	padding: 0px;
	margin-bottom: 30px;
}
.carousel-caption > h3 {
	margin: 8px 0px;
	font-weight: bold;
}
.carousel-indicators {
	color: #49796b;
	background: #49796b;
	bottom: 0px;
	margin-bottom: 0px;
	width: 100%;
	left: initial;
	margin-left: initial;
	padding: 5px 0px;
}

/* Separator lines */
hr {
	display: block;
	border: 0px solid #202020;
	border-radius: 2px;
}

/* Panels */
.panel {
	color: #202020;
	background: #f1f1f1;
	font-size: 20px;
	font-weight: 500;
	border: 0px;
}
.panel-default > .panel-heading {
	color: #f1f1f1;
	background: #5f9ea0;
	border: 0px;
}
.panel-title {
	font-size: 25px;
	font-weight: 500;
}
.panel-group .panel-heading+.panel-collapse > .panel-body {
	padding-top: 0px;
	border-top: 0px;
}

/* Lightbox */
.thumbnail {
	width: 30%;
	display: inline-block;
	box-shadow: 2px 2px 2px #202020;
	transition: transform .1s;
	background: #202020;
	border: 0px;
	margin: 3px;
}
.thumbnail:hover {
	transform: scale(1.1);
}
.lightborder .thumbnail {
	background: white;
}
.lb-caption,
.lb-number {
	font-size: 16px !important;
}

